@model AuctioneerEditViewModel
@{
    ViewData["Title"] = "Status";
}

@if(@Model.ThisUser.IsAuctioneer)
{

<div>
    <h3>@Model.Name</h3>
    <p>ID: @Model.AuctionItemId</p>
    <p>Objektsbeskrivning: @Model.Description</p>
    <p>Objektskostnad: @Model.Costs.ToString("c")</p>
    <p>Utgångspris: @Model.StartingPrice.ToString("c")</p>
    <p>Slutpris: @Model.FinalPrice.ToString("c")</p>
    <p>Tillverkad årtionde: @Model.Decade</p> 
    <p>Inköpare: @Model.Purchaser</p>
    <p>Kategori: @Model.CategoryName</p>
    @if(@Model.InStock)
    {
      <p>I lager: Ja</p>  
    } else
    {
      <p>I lager: Nej</p> 
    } 
</div>

<form asp-action="AuctioneerEdit" method="post" class="form-horizontal" role="form">
    <h4>Fyll i uppgifterna nedanför:</h4>   

    <div asp-validation-summary="All" class="text-danger"></div>
    <input hidden asp-for="Name" />
    <input hidden asp-for="AuctionItemId" />
    <input hidden asp-for="Description" />
    <input hidden asp-for="StartingPrice" />
    <input hidden asp-for="Costs" />
    <input hidden asp-for="Decade" />
    <input hidden asp-for="Purchaser" />
    <input hidden asp-for="CategoryName" />


    <div class="form-group">
        <label asp-for="InStock" class="col-md-2 control-label"></label>
        <input asp-for="InStock" />
    </div>

    <div class="form-group">
        <label asp-for="FinalPrice" class="col-md-2 control-label"></label>
        <div class="col-md-5">
            <input asp-for="FinalPrice" class="form-control" />
            <span asp-validation-for="FinalPrice" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="Spara" /> <a asp-controller="Inventory" asp-action="List" class="btn btn-primary">Avbryt</a>
        </div>
    </div>

</form>
} else
{
    <h1>Du har inte tillgång till den här sidan!</h1>
}