@model InventoryListViewModel

@{
    ViewData["Title"] = "Invetarier";
}
@foreach (var article in Model.Articles)
{
    <div>    
        <h2>@article.Name</h2>
        <p>Datum: @article.ArticleAdded</p>
        <p>ID: @article.ArticleId</p>
        <p>Beskrivning: @article.Description</p>
        <p>Pris: @article.StartingPrice.ToString("c")</p>
        <p>Skapad år: @article.YearCreated</p>
    </div>
}