@model AuctionItem
<div>
    <h3>@Model.Name</h3>
    <p>ID: @Model.AuctionItemId</p>
    <p>Beskrivning: @Model.Description</p>
    <p>Utgångspris: @Model.StartingPrice.ToString("c")</p>
    <p>Kostnader: @Model.Costs.ToString("c")</p>
    @if(!Model.InStock)
    {
      <p>Slutpris: @Model.FinalPrice.ToString("c")</p>
    }
    <p>Skapad år: @Model.Decade</p> 
    <p>Inköpare: @Model.Purchaser</p>
    <p>Kategori: @Model.CategoryName</p>
    @if(Model.InStock)
    {
      <p>I lager: Ja</p>  
    } else
    {
      <p>I lager: Nej</p> 
    } 
</div>